body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #01411c;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    padding: 10px;
    background-color: #006400;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.sidebar ul li:hover {
    background-color: #008000;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
}

.main-content iframe {
    border-radius: 8px;
}
.navbar {
    background-color: #01411c;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #fff;
}

.navbar-brand img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar-links a:hover {
    background-color: #009688;
}

.content {
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
    margin-top: 20px;
}

.content h1 {
    color: #01411c;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2em;
    color: #333;
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links a {
        margin: 10px 0;
    }
}

header {
    background-color: #006400;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 3em;
}

#flag-container {
    margin: 20px auto;
    width: 150px;
}

#flag {
    width: 100%;
    animation: wave 5s infinite;
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}

main {
    padding: 20px;
    text-align: center;
}

#history {
    margin-bottom: 40px;
    font-size: 20px;
    color: #006400;
}

blockquote {
    font-size: 1.5em;
    margin: 20px 0;
    color: #006400;
}

#countdown {
    font-size: 2em;
    margin-top: 20px;
    color: #006400;
}

footer {
    background-color: #006400;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
